{% for home_page_item in site.home_page_items %}
    {% if forloop.first == true %}
        <input type="radio" name="nav" value="{{ forloop.index }}" id="slide{{ forloop.index }}" checked>   
    {% else %}
        <input type="radio" name="nav" value="{{ forloop.index }}" id="slide{{ forloop.index }}">
    {% endif %}
    {% assign imageUrl = {{ site.baseUrl }} | append: '/' | append: {{ home_page_item.background-url }} %}
    <label for="slide{{ forloop.index }}"></label>
    <div class="slide" style="background-image:url({{ imageUrl }}"/>
        <div class="image-description">
            <p class="image-group-technology">{{ home_page_item.tag }}</p>
            <h1 class="image-heading">{{ home_page_item.heading }}</h1>
            <div class="image-paragraphs">
                <p class="image-person"><i class="far fa-user"></i>{{ home_page_item.name }}</p>
                <p class="image-date"><i class="far fa-calendar"></i>{{ home_page_item.date }}</p>
            </div>
        </div>
    </div>   
{% endfor %}