<article>
    <div class="member-img" style="background-image: url(\"{{ member.avatar }}\")">
        <div class="member-socials">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-facebook"></i>
            <i class="fab fa-facebook"></i>
        </div>
    </div>
    <h3>{{ member.name }}</h3>
    <h4><span class="member-characteristics">Superpower: </span>{{ member.position }}</h4>
    <h4><span class="member-characteristics">Weapons: </span>{{ member.abilities }}</h4>
</article>