<div class="sticky-social-media">
    <div class="sticky-social-media-icons">
        <div class="sticky-social-media-icon">
            <i class="fab fa-facebook"></i>
            <p>Like our page!</p>
        </div>
        <div class="sticky-social-media-icon">
            <i class="fab fa-twitter"></i>  
            <p>Mention Us!</p>
        </div>
        <div class="sticky-social-media-icon">
            <i class="fab fa-google-plus-square"></i>
            <p>Follow Us</p>     
        </div>
        <div class="sticky-social-media-icon">
            <i class="fas fa-code"></i>
            <p>Code with Us</p>
        </div>
        <div class="sticky-social-media-icon">
            <i class="fab fa-github"></i>
            <p>See our Repos!</p>
        </div>
    </div>
</div>