{% for member in site.team_members %}
    <article>
        {% assign avatarUrl = {{ site.baseUrl }} | append: '/' | append: {{ member.avatar }} %}
        <div class="member-img" style="background-image: url({{ avatarUrl }})">
            <div class="member-socials">
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
                <i class="fab fa-facebook"></i>
            </div>
        </div>
        <h3>{{ member.name }}</h3>
        <h4>{{ member.position }}</h4>
        <!-- <p>{{ member.description }}</p> -->
    </article>
{% endfor%}