@keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0,40px,0)
    }

    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

.bounce {
    animation: bounce 2s infinite;
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
}

@keyframes pop{
    50%  {transform: scale(1.2);}
}
  
// @-webkit-keyframes slide-left {
//     0% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//     }
//     100% {
//       -webkit-transform: translateX(-1%);
//               transform: translateX(-1%);
//     }
//   }
//   @keyframes slide-left {
//     0% {
//       -webkit-transform: translateX(0);
//               transform: translateX(0);
//     }
//     100% {
//       -webkit-transform: translateX(-1%);
//               transform: translateX(-1%);
//     }
//   }
  