@import 'feedback';

#feedback-form-academic, #feedback-form-last {
    display: none;
}

form {
    background: white;
    color: $primary-purple-feedback;
    padding: 1em;
    width: 40%;
    display: flex;
    flex-direction: column;
    box-shadow: 9px 9px 22px -4px rgba($primary-purple-feedback,1);
    margin: 0 auto;

    h3, p {
        text-align: center;
    }

    label {
        margin-top: 1em;
        text-align: center;
    }

    input {
        outline: none;
        background: transparent;
        border: 0;
        padding: 0.5em;
        margin: 0.5em;
        border-bottom: 1px solid $primary-orange-feedback;
        color: $primary-purple-feedback;
    }

    input::placeholder {
        color: $primary-purple-feedback;
    }

    input:focus {
        border-bottom: 1px solid $primary-purple-feedback;
    }

    input[type="submit"] {
        margin: 1em auto;
        background: $primary-purple-feedback;
        color: white;
        border: none;

        &:hover {
            color: $primary-orange-feedback;
            cursor: pointer;
        }
    }
}
