$primary-purple-feedback: #3A599C;
$primary-purple-darker-feedback: rgb(39, 65, 121);
$primary-lightblue-feedback: #B1F2FF;
$primary-orange-feedback: #FDAE6C;

$breakpoint-phone: 450px;

:root {
	--font-size-initial: 12px;
	--font-size-lv2: 14px;
	--font-size-lv3: 16px;
	--font-size-lv4: 18px;
	--spacing-site: 2rem;
	--color-text-main: #000;
}