@import '_variables';

.content {
    height: 100vh;
    background-image: url("/Course-Portfolio/img/students.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content:before {
    display: block;
    content: '';
    height: 60%;
}

.feedback-call-to-action {
    width: 50%;
    padding: 0.3em;
    font-size: 0.8em;
    min-width: 60%;
    max-height: 15em;
    text-transform: uppercase;
    background-color: rgba(black, 0.4);
    color: white;

    h1, h2 {
        margin-left: 10%;
        padding: 0;
    }

    @media screen and (max-width: 1000px) {
        font-size: 0.5em;
    }

    @media screen and (max-width: 650px) {
        font-size: 0.5em;
    }

    @media screen and (max-width: 290px) {
        font-size: 0.3em;
    }
}
  
.arrow {
    position: absolute;
    color: rgb(124, 108, 108);
    bottom: 2%;
    left: 50%;
}

.bounce {
    animation: bounce 2s infinite;
}

  .values {
    background: $primary-purple-feedback;
    padding: 1em;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .value {
        width: 30%;
        text-align: center;
        margin: 1em;
    }

    @media screen and (max-width: 650px) {
        flex-direction: column;
        .value { width: 80%; }
    }

    article {
        color: white;

        i {
            font-size: 10em;
            margin-right: 0.1em;
        }

        h3 {
            padding: 0;
        }
    }
}

.feedback-panel-container {
    // background-image: linear-gradient($primary-purple-feedback, $primary-orange-feedback);
    background: $primary-orange-feedback;
    height: 80vh;

    .form-progress {
        // border: 2px solid #B1F2FF;
        height: 20vh;
        width: 30%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        position: relative;

        .progress-axis {
            height: 5%;
            width: 80%;
            background: $primary-lightblue-feedback;
            margin: 0 auto;

            @media screen and (max-width: 650px) {
                width: 100%;
            }
        }

        .progress-element {
            background: white;
            width: 9%;
            height: 27%;
            min-width: 30px;
            min-height: 30px;
            position: absolute;
            top: 37%;
            text-align: center;
            color: $primary-purple-feedback;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30%;
        }

        #progress-element-1 {
            left: 10%;
            background: $primary-purple-feedback;
            color: white;
        }

        #progress-element-2 {
            left: 46%;
        }

        #progress-element-3 {
            left: 84%;
        }

        @media screen and (max-width: 650px) {
            #progress-element-1 {
                left: 0%;
            }
    
            #progress-element-2 {
                left: 40%;
            }
    
            #progress-element-3 {
                left: 85%;
            }
        }
    }
}