$primary-purple-feedback: #3A599C;
$primary-lightblue-feedback: #B1F2FF;
$primary-orange-feedback: #FDAE6C;

section {
    width: 100vw;
}

.content {
    height: 100vh;
    width: 100vw;
    background-image: url("/assets/img/students.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.feedback-call-to-action {
    position: absolute;
    top: 50%;
    text-transform: uppercase;
    background-color: rgba(black, 0.4);
    color: white;

    h1, h2 {
        margin-left: 10%;
        padding: 0;
    } 
}

@-moz-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @-webkit-keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }

  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  
  .arrow {
    position: absolute;
    color: rgba(black, 0.4);
    bottom: 2%;
    left: 50%;
  }
  
  .bounce {
    animation: bounce 2s infinite;
  }

  .values {
      background: $primary-purple-feedback;
      padding: 0.5em;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      height: 40vh;
    
      .value {
          display: flex;
          align-items: center;
          min-width: 5%;
          max-width: 30%;
          margin-left: 0.5em;
          margin-right: 0.5em;
      }

    article {
        color: white;
        margin: 1em;

        i {
            font-size: 10em;
            margin-right: 0.1em;
        }

        h3 {
            padding: 0;
        }
    }
}

.feedback-panel-container {
    background-image: linear-gradient($primary-purple-feedback, $primary-orange-feedback);
    height: 80vh;

    .form-progress {
        // border: 2px solid #B1F2FF;
        height: 20vh;
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .progress-axis {
            height: 3%;
            width: 50%;
            background: $primary-lightblue-feedback;
            margin: 0 auto;
        }

        .progress-element {
            background: white;
            width: 30px;
            height: 30px;
            position: absolute;
            top: calc(80vh * 20%);
            left: 10%;
            text-align: center;
            color: $primary-purple-feedback;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 30%;
        }

        #progress-element-1 {
            background: $primary-orange-feedback;
            color: $primary-purple-feedback;
            left: calc(80vh * 0.17);
        }

        #progress-element-2 {
            // 46
            left: calc(80vh * 0.35);
        }

        #progress-element-3 {
            left: calc(80vh * 0.55);
        }
    }
}