html, body {
    height: 100%;
}

nav {
    width: 100%;
    position: fixed;
    background: linear-gradient(to left, rgba($primary-purple-feedback,0.8), rgba($primary-orange-feedback, 0.8));
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;

    &.solid-nav {
        background-color: black;
        transition: background-color 0.2s linear;
    }

    ul, a {
        margin: 1rem;
        z-index: 5;
    }

    a {
        text-decoration: none;
        color: white;
    }

    ul {
        display: flex;

        li {
            list-style: none;
            margin-left: 1rem;
            color: white;

            &:hover, span {
                color: orange;
            }

            i {
                margin-left: 5px;
            }

            span > * {
                color: $primary-orange-feedback;
            }
        }
    }
}

footer {
    display: flex;
    flex-direction: column;
    color: white;

    #first-section-footer {
        background: $primary-purple-feedback;
        padding: 3em;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

    ul {
        list-style-type: none;
        color: white;
    }

    #second-section-footer {
        background: $primary-purple-darker-feedback;
        height: 8vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
    }

    #follow-us {
        display: flex;
        flex-direction: column;

        ul > li {
            display: inline-block;
            font-size: 2em;
            margin-right: 0.5em;

            &:hover {
                color: $primary-orange-feedback;
            }
        }
    }

    input {
        outline: none;
        border: none;
        margin-top: 0.5em;
        padding: 0.5em;
    }

    input[type="submit"] {
        background: white;
        color: $primary-purple-feedback;

        &:hover {
            background: $primary-orange-feedback;
        }
    }
}

.image-description {
    color: white;
    width: 40em;
    position: absolute;
    bottom: 5em;
    left: 10%;

    .image-group-technology {
        border: 3px solid white;
        display: inline-block;
        padding: 0.5em;
        text-transform: uppercase;
    }

    .image-paragraphs {
        display: flex;

        p {
            margin-right: 2em;
            display: flex;
            align-content: center;
            align-items: center;
        }

        .far {
            font-size: 0.5em;
            margin-right: 5px;
        }
    }
}