@import '_variables';

#team-gallery {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 47vh);
    grid-gap: 0.1em 0.1em;

    $gallery-elements: team-gallery-first, team-gallery-second, team-gallery-third, team-gallery-fourth, team-gallery-fifth;

    @each $element in $gallery-elements {
        .#{$element} {
            position: relative;
            opacity: 1;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center center;
        }
    }

    .team-gallery-first {
        background-image:url("/Course-Portfolio/img/veronika_lecturer.jpg");
        grid-column-start: 1;
        grid-column-end: 4;
    }

    .team-gallery-second {
        background-image:url("/Course-Portfolio/img/team_friday.jpg");
        grid-column-start: 4;
        grid-column-end: end;
    }

    .team-gallery-third {
        background-image:url("/Course-Portfolio/img/martin_happy.jpg");
        grid-column-start: 1;
        grid-column-end: 3;
    }

    .team-gallery-fourth {
        background-image:url("/Course-Portfolio/img/antonia_lecturer.jpg");
        grid-column-start: 3;
        grid-column-end: 5;
    }

    .team-gallery-fifth {
        background-image:url("/Course-Portfolio/img/veronika_outside.jpg");
        grid-column-start: 5;
        grid-column-end: end;
    }

    @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        height: 200vh;

        @each $element in $gallery-elements {
            .#{$element} {
                display: flex;
                height: 25%;
            }
        }
    }
}

.team {
    background: $primary-purple-feedback;
    width: 100%;
    text-align: center;
    color: white;

    h1 {
        background: $primary-purple-darker-feedback;
    }

    .team-members-controls {
        margin: 0 auto;
        width: 100%;
        display: flex;
        justify-content: space-around;

        li {
            list-style: none;
            padding: 0.5em;
            background: $primary-purple-darker-feedback;
            border-bottom: 1px solid $primary-purple-darker-feedback; 
            width: 100%;

            &:hover {
                color: $primary-orange-feedback;
                cursor: pointer;
                border-bottom: 1px solid $primary-orange-feedback; 
            }

            &.clicked {
                color: $primary-orange-feedback;
                border-bottom: 1px solid $primary-orange-feedback; 
            }
        }
    }

    .team-members-info {
        display: flex;
        justify-content: space-around;
        color: $primary-purple-feedback;

        .team-members-container {
            display: flex;
            width: 100%;
            justify-content: center;
        }

        .member-characteristics {
            color: $primary-orange-feedback;
        }

        article {
            background: white;
            height: 50vh;
            min-width: 120px;
            min-height: 120px;
            width: 20%;
            margin: 1em;
            padding: 0.5em;
            display: flex;
            flex-direction: column;
            
            h3 {
                color: $primary-orange-feedback;
            }

            .member-img {
                margin: 0 auto;
                width: 90%;
                height: 60%;
                min-width: 100px;
                min-height: 100px;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                justify-content: flex-end;

                &:hover {
                    .member-socials {
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                    }
                }

                .member-socials {
                    display: none;
                    width: 20%;
                    height: 100%;
                    background: $primary-purple-feedback;
                    animation: slide-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                    color:white;

                    i:hover {
                        color: $primary-orange-feedback;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        .team-members-info {
            display: flex;
            flex-direction: column;
            align-items: center;

            article {
                width: 70%;
            }
        }
    }

    @media screen and (max-width: 890px) {
        .team-members-container {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            article {
                width: 50%;
            }
        }
    }
}